<h1 class="text-info text-center p-3 display-5">Sign Up</h1>
<div class="row">
  <div class="col"></div>
  <div class="col-md-6">
    <div class="container">
      <form (ngSubmit)="onSubmit(RegisterForm)" #RegisterForm="ngForm">
        <div class="input-group py-4">
          <span class="input-group-text" id="addon-wrapping"
            ><i class="fa fa-user"></i
          ></span>
          <input
            type="text"
            name="name"
            ngModel
            required
            minlength="4"
            #modelName="ngModel"
            [ngClass]="modelName.invalid && modelName.dirty ? 'is-invalid' : ''"
            class="form-control"
            placeholder="Name"
            aria-label="name"
            aria-describedby="addon-wrapping"
          />
          <div *ngIf="modelName.invalid" class="invalid-feedback">
            Please enter a valid name
          </div>
        </div>
        <div class="input-group py-4">
          <span class="input-group-text" id="addon-wrapping"
            ><i class="fa fa-envelope"></i
          ></span>
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            email
            ngModel
            required
            #modelEmail="ngModel"
            [ngClass]="
              modelEmail.invalid && modelEmail.dirty ? 'is-invalid' : ''
            "
            class="form-control"
            placeholder="Email Address"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
          <div *ngIf="modelEmail.invalid" class="invalid-feedback">
            Please enter a valid email
          </div>
        </div>
        <div class="input-group py-4">
          <span class="input-group-text" id="addon-wrapping"
            ><i class="fa fa-lock"></i
          ></span>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            ngModel
            required
            minlength="8"
            #modelPassword="ngModel"
            [ngClass]="
              modelPassword.invalid && modelPassword.dirty ? 'is-invalid' : ''
            "
            class="form-control"
            placeholder="Password"
            aria-label="password"
            aria-describedby="addon-wrapping"
          />
          <div
            *ngIf="modelPassword.errors?.['required']&& modelPassword.dirty"
            class="invalid-feedback"
          >
            please enter a valid password.
          </div>
          <div
            *ngIf="modelPassword.errors?.['minlength']"
            class="invalid-feedback"
          >
            password should atleast
            {{modelPassword?.errors?.['minlength']?.['requiredLength']}}
            characters.
          </div>
        </div>
        <div class="input-group py-4">
          <span class="input-group-text" id="addon-wrapping"
            ><i class="fa fa-lock"></i
          ></span>
          <input
            type="password"
            name="Repassword"
            ngModel
            required
            minlength="8"
            #modelRePassword="ngModel"
            [ngClass]="
              modelRePassword.invalid && modelRePassword.dirty
                ? 'is-invalid'
                : ''
            "
            class="form-control"
            placeholder="Confirm Password"
            aria-label="password"
            aria-describedby="addon-wrapping"
          />
          <div
            *ngIf="modelRePassword.errors?.['required']&& modelRePassword.dirty"
            class="invalid-feedback"
          >
            please enter a valid password.
          </div>
          <div
            *ngIf="modelRePassword.errors?.['minlength']"
            class="invalid-feedback"
          >
            password should atleast
            {{modelRePassword?.errors?.['minlength']?.['requiredLength']}}
            characters.
          </div>
          <div
            *ngIf="
              modelRePassword.invalid &&
              !modelPassword.invalid &&
              modelRePassword.dirty
            "
            class="invalid-feedback"
          >
            Passwords do not match.
          </div>
        </div>
        <div>
          <p>Already have an account ? <a href="#"> Sign In</a></p>
        </div>
        <div class="d-grid gap-2 py-4">
          <button
            class="btn btn-info"
            type="submit"
            [disabled]="
              RegisterForm.invalid ||
              modelPassword.invalid ||
              modelRePassword.invalid ||
              modelPassword.value !== modelRePassword.value
            "
          >
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col"></div>
</div>
