<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="nav-link text-light"> <span class="h5">E</span>-commerce </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown-divider"></li>
        <li class="navbar-item active">
          <a
            class="nav-link text-light"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="h5">H</span>ome
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="navbar-item active">
          <a
            class="nav-link text-light"
            routerLink="/cart"
            routerLinkActive="active"
          >
            <span class="h5">C</span>art {{ getCount() > 0 ? - getCount() : "" }}
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="navbar-item active">
          <a
            class="nav-link text-light"
            routerLink="/order"
            routerLinkActive="active"
          >
            <span class="h5">O</span>rder</a
          >
        </li>
        <li class="dropdown-divider"></li>
        <li class="navbar-item active">
          <a
            class="nav-link text-light"
            routerLink="/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="h5">S</span>ign <span class="h5">I</span>n
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="navbar-item">
          <a
            class="nav-link text-light"
            routerLink="/register"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><span class="h5">S</span>ign <span class="h5">U</span>p</a
          >
        </li>

        <li class="dropdown-divider"></li>
        <li class="navbar-item">
          <button class="nav-link text-light" (click)="logout()"
            ><span class="h5">S</span>ign <span class="h5">O</span>ut</button
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
