<h1 class="text-light text-center container-fluid p-3 h2 bg-secondary">Technical Stack used in a project</h1>
<div class="d-flex justify-content-center ">
<div class="card m-3 text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title h3">Home</h5>
      <p class="card-text">Products which get from an API</p>
      <button (click)="home()" class="btn btn-primary">Home</button>
    </div>
  </div>
<div class="card m-3 text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title h3">Sign In</h5>
      <p class="card-text">Registered User.</p>
      <p class="card-text">Email: user@gmail.com</p>
      <p class="card-text">Password: User@2001</p>
      <p class="card-text text-success">By using this Crendentials you can accesss the pages</p>
      <button (click)="goSignIn()" class="btn btn-primary">Sign In</button>
    </div>
  </div>
<div class="card m-3 text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title h3">Sign Up</h5>
      <p class="card-text">Name should above length 4</p>
      <p class="card-text">password should be above length 8,one capital,one number,one special character</p>
      <button (click)="goSignUp()" class="btn btn-primary">Sign Up</button>
      
    </div>
  </div>
</div>
<div>
    <p></p>
</div>